<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles/mapPage.css">
    <link rel="stylesheet" href="styles/footer&header.css">
    <%-include('./partials/head')%>
</head>

<body class="body">
    <div class="wrapper">
        <header class="header">
            <%-include('./partials/header')%>
        </header>
        <section class="map">
            <%-include('./partials/svgMap')%>
        </section>
        <footer class="footer">
            <%-include('./partials/footer')%>
        </footer>
        <div class="popup">
            <%-include('./partials/popup')%>
        </div>
    </div>



</body>
<!-- <script src="./components/mapPage1.js"></script> -->

</html>